*{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

html, body{
  background: #ffffff;
  margin: 35px;
}

#esquerda{
  background-color: #2F2F2F;
  border-style: solid;
  color: white;
  float: left;
  width: 25%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 0px 0px 0px 50px;
}

.form-items{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cadButton{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 25px;
}

.main-title{
  text-align: center;
  padding-bottom: 5px;
  cursor: pointer;
}

label,input{
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  line-height: 30px;
  height: 23px;
  outline: none;
  font-size: 16px;
  width: 82%;
}


#direita{
  height: 500px;
  width: 65%;
  float: right;
}

table{
  color: white;
  background-color: #424242;
  margin: 20px auto;
}

tr{
  line-height: 30px;
}

#titulo{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
    background-color: rgba(0,0,0, 0.6);
    color: white;
}

tr > td {
  padding: 5px;
}

a{
  padding: 5px;
  margin: 0px 5px;
  text-decoration: none;
  background-color: rgba(82, 84, 87, 0.753);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid black;
}

a:hover{
  background-color: #1c1c1c;
  color: rgb(236, 254, 255);
  transition: .2s;
}

.aviso{
  margin-bottom: 30px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.img{
  width: 50px;
}

.nada{
  display: none;
}